python-dotenv
openai>=1.40.0
langchain
langchain-core
langchain-openai
langchain-chroma
langchain_community
chromadb
pypdf
tiktoken
unstructured
streamlit
streamlit-authenticator
pyyaml
jinja2
streamlit-calendar